.recipe-card {
  display: flex;
  margin: 3.6% 18%;
  padding: 3%;
  border-radius: 8px;
  /* max-height: 100px; */
  /* min-height: 100px; */
  cursor: pointer;
  place-content: space-around;
  align-items: center;
  background: #fffffff5;
}

.recipe-image {
  border: 1px solid black;
  min-width: 80px;
  min-height: 80px;
}

.recipe-popup {
  background: white;
  min-height: 450px;
  max-height: 500px;
  min-width: 600px;
  max-width: 720px;
}

.modal {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.popup.recipe-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.popup.recipe-name {
  text-align: center;
}

.ingredients-list-title {
  font-size: 1.1em;
  font-weight: 400;
  text-decoration-line: underline;
}

.recipe-name {
  font-size: 1.6em;
  font-weight: 400;
}

.individual-ingredient {
  font-weight: 200;
}
