.recipes-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("http://d2ftulncrnqnvl.cloudfront.net/cater-yang-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.btn {
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.card-container {
  width: -webkit-fill-available;
}

#app {
  height: 100%;
}
