.popup.add-recipe {
  background: white;
  min-height: 450px;
  max-height: 500px;
  min-width: 710px;
  outline: none;
  padding: 70px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

#add-ingred-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-ingredient-measurements {
  display: flex;
  flex-direction: column;
  text-align-last: center;
}

.btn.add-recipe-btn {
  width: 190px;
  align-self: center;
  margin: 10px 0px;
}

select.measured-unit {
  margin: 0px 0px 30px;
}

.preview {
  width: 50%;
  border-left: 1px solid black;
  padding-left: 20px;
}

.add-rec-form {
  padding: 5px;
  text-align: center;
}

.buttons-container {
  text-align: center;
}

.adding-recipe-container {
  width: 50%;
  padding-right: 50px;
}
