#homepage-content {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: -webkit-center;
  overflow: hidden;
}

#home-bkimg {
  background: url("../../assets/ratatouille.png");
  background-size: cover;
  filter: blur(3.2px);
  height: 100%;
  background-position-x: center;
  width: 100%;
  position: absolute;
}

#home-intro {
  background: #cbcbcb69;
  position: absolute;
  height: fit-content;
  z-index: 10;
  padding: 20px 60px;
  font-size: 1.1em;
  text-align: -webkit-center;
  margin: 10px 100px 0px 100px;
  box-shadow: 2.3px 2.8px 32.7px #c4c4c463;
  border-radius: 96px;
  cursor: default;
  color: white;
}

.home.title {
  color: white;
  position: relative;
  padding-top: 30px;
  white-space: nowrap;
  overflow: hidden;
  width: 20.2em;
  word-spacing: 1px;
  animation: type 3s steps(32, end) infinite alternate;
}

@keyframes type {
  from {
    width: 0em;
  }
}

span {
  animation: blinking-animation 1s steps(5, end) infinite;
}

@keyframes blinking-animation {
  from {
    visibility: hidden;
  }
}
