#add-cook-log-content {
  background: white;
  padding: 3% 9%;
}

.cook-log-form {
  display: flex;
  flex-direction: column;
  padding: 10% 0% 25% 0%;
}

.cook-log-labels > input,
.cook-log-labels > select {
  float: right;
  margin-left: 25px;
}

label {
  float: left;
}

h1 {
  text-align: center;
}
