#cooklog-contents {
  background: white;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

#cooklog-contents h1 {
  text-align-last: center;
  margin: 0;
  padding-top: 3.9%;
}

#cooklog-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 20%;
}

.btn {
  border: none;
  place-self: center;
  border-radius: 6px;
  padding: 8px;
  margin: 20px;
  background: lightslategrey;
  color: white;
  cursor: pointer;
}

.modal {
  background: white;
}
